@model First_Models.ViewModels.ProductVM
@using First_Utility

@{
    var title = "Ürün Oluştur";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Product.Id != 0)
    {
        title = "Ürün Düzenle";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name">Ürün Adı</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price">Ücret</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.shortDesc">Başlık</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.shortDesc" class="form-control" />
                        <span asp-validation-for="Product.shortDesc" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description">Açıklama</label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId">Kategori</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>--Kategori Seç--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationId">Ürün Türü</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationId" asp-items="@Model.ApplicationTypeSelectList" class="form-control">
                            <option disabled selected>--Ürün Türü Seç--</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Resim
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" style="padding-bottom:36px" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="Güncelle" />
                                //update
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Oluştur" />
                                //create
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Geri Dön</a>
                        </div>
                    </div>
                </div>
            </div></div>
        <div class="col-4">
                @* Keep this empty *@
                @if(Model.Product.Id != 0){
                   <img src="@WC.ImagePath@Model.Product.Image" width="100%" style="accent-color:5px; border:1px solid #bbb"/>
                }
            </div>
        </div>
    </div>

</form>

@section scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote();
            height:250
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Lütfen Resim Yükleyiniz!'
                })
                return false;
            }
            return true;
        }
    </script>
}